/* Tag */


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  color: #EAF6F6;
  border-width: 6px;
  border-style: dotted none none none;
  max-width: 100px;

}

h2 {
  color: #11999E;

}

h3 {
  line-height: 2;
  color: #11999E;


}

p {

}

a {
 color: #11999E;
}

span {
  font-weight: bold;
}

/* Class */


.top {
  background-color: #e4f9ff;
  height: 541px;
  padding: 20px;
  padding-top: 100px;
}

.middle-container {
  padding: 20px;

}

.bottom-container {
  /* background-color: #e4f9ff; */

}

.pageend {
  background-color: #e4f9ff;
  padding: 10px;
}

.cloud-left {
  position: absolute;
  top: 340px;
  left: 500px;
  height: 80px;
  width: 80px;
}

.cloud-right {
  position: absolute;
  right: 360px;
  top: 60px;
  height: 80px;
  width: 80px;
}

.img1 {
  width: 20%;
}

.img2 {

  width: 20%;
  float: left;
  margin-right: 30px;
}

.img3 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.mountain {
  position: absolute;
  top: 235px;
  right: 570px;
}

.skill-row {
  width: 50%;
  margin: 40px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.skill-row-bottom {

    width: 50%;
    margin: 40px auto 60px auto;
    text-align: left;
    line-height: 2;
}

.skills-title {
  margin-bottom: 0;
}

.skills-par {
  margin-top: 0;
}

.contact-me {
  width: 50%;
  margin: 40px auto 40px auto;
  text-align: center;
  line-height: 2;
}
.contact-me-para {
  text-align: left;
}


.profile {
  width: 50%;
  margin: 100px auto 60px auto;
  text-align: center;
  line-height: 2;
}

.profiletext {
  text-align: left;
}


.button {
  background: #161E81; /*  */
  background-image: -webkit-linear-gradient(top, #161E81, #167181);
  background-image: -moz-linear-gradient(top, #161E81, #167181);
  background-image: -ms-linear-gradient(top, #161E81, #167181);
  background-image: -o-linear-gradient(top, #161E81, #167181);
  background-image: linear-gradient(to bottom, #161E81, #167181);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  font-family: sans-serif;
  width: 200px;
  font-size: 30px;
  font-weight: 400;
  padding: 1px;
  box-shadow: 1px 1px 6px 0px #000000;
  -webkit-box-shadow: 1px 1px 6px 0px #000000;
  -moz-box-shadow: 1px 1px 6px 0px #000000;
  text-shadow: 1px 1px 6px #000000;
  border: solid #161E81 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 9px auto 25px auto;
}

.button:hover {
  border: solid #99C624 2px;
  background: #161E81;
  background-image: -webkit-linear-gradient(top, #161E81, #e4f9ff);
  background-image: -moz-linear-gradient(top, #161E81, #e4f9ff);
  background-image: -ms-linear-gradient(top, #161E81, #e4f9ff);
  background-image: -o-linear-gradient(top, #161E81, #e4f9ff);
  background-image: linear-gradient(to bottom, #161E81, #e4f9ff);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
/* #167181 */
}




/* ID */

#myname {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  position: absolute;
  top: 40px;
  left: 450px;
  color: #66BFBF;
}

#title {
  font-family:'Sacramento', cursive;
  font-size: 2.5rem;
  position: absolute;
  top: 20%;
  left: 37%;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}
